.container {
  max-width: 800px;
  border: 1px solid rgb(151, 142, 142);
  box-shadow: 1px 2px 2px rgb(183, 171, 171);
  margin: 10px auto;
  padding: 30px;
}
nav {
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  margin: 10px auto;
  font-size: 20px;
}
.task {
  text-align: center;
  font-style: oblique;
  font-weight: 700;
  font-size: 25px;
  margin-top: 20px;
  text-shadow: 1px 1px 1px green;
}
h1 {
  text-align: center;
  font-style: italic;
  font-size: 3em;
  color: rgb(8, 8, 156);
}
.schedule {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.days {
  width: 330px;
  margin: 10px auto;
}
.days:last-child {
  margin-left: 60%;
}
caption {
  font-style: italic;
  font-size: 2em;
  font-weight: 700;
  color: brown;
}
tbody {
  font-size: 1.5em;
}
td {
  padding: 5px;
}
td:first-child {
  font-style: italic;
  font-weight: 700;
  color: red;
  width: 170px;
}
span {
  margin-left: 30px;
  color: brown;
}
